p {
  font-family: Lato;
}

.flex {
  display: flex;
  flex: 500;
}

.container {
  width: 100%;
  height: 100%;
}

.matrix-with-vert {
  display: flex;
}

.matrix-container {
  width: calc(100% - 15px);
}

.horizontal-direction {
  width: 100%;
  height: 15px;
  background-color: aquamarine;
}
.vertical-direction {
  height: 431px;
  width: 15px;
  background-color: blue;
}
